
body{
    background-color: 	#191919;
    color: #3498db; 
    font-family: 'Source Sans Pro', sans-serif;
    font-style: Bold;
       
}


.hakkimda{
    text-align:left;
    
}
.card {
    user-select: none;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.5s ease;
    background-color: black;
    color: white;
  }
  
.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

.navbar-custom li {
    margin-right: 10px; /* İstediğiniz boşluk miktarını ayarlayın */
  }



.iframe-container {
    display: center;
    justify-content: center;
    align-items: center;
     
    
    /* Ekran yüksekliği kadar yapmak için */
}

.lists-container {
    display: flex; /* İçerdiği öğeleri yatay hizalar */
}

ul {
    
    margin: 0 10px; /* Her liste arasına boşluk bırakır */
}

li {
    margin-bottom: 5px; /* İhtiyacınıza göre öğeler arasına bir dikey boşluk bırakabilirsiniz */
}

