
body{
    background-color: 	#F0FFFF;
    color: #3498db; 
    font-family: 'Source Sans Pro', sans-serif;
    font-style: Bold;
       
}


.hakkimda{
    text-align:left;
    
}
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.5s ease;
  }
  
.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}
@keyframes butonAnimasyonu {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
.navbar-custom li {
    margin-right: 10px; /* İstediğiniz boşluk miktarını ayarlayın */
  }

.animasyonlu-buton {
    animation: butonAnimasyonu 1s infinite; /* Saniye cinsinden animasyon süresi ve sonsuz döngü */
}

.iframe-container {
    display: center;
    justify-content: center;
    align-items: center;
     
    
    /* Ekran yüksekliği kadar yapmak için */
}

.lists-container {
    display: flex; /* İçerdiği öğeleri yatay hizalar */
}

ul {
    
    margin: 0 10px; /* Her liste arasına boşluk bırakır */
}

li {
    margin-bottom: 5px; /* İhtiyacınıza göre öğeler arasına bir dikey boşluk bırakabilirsiniz */
}

.cyann{
    color: cyan;
}

.yesil{
    color: green;
}

.kirmizi{
    color: red;
}

.listeecolor{
    color: rgb(107, 7, 105);
}

.listenoktakaldirma{
    list-style-type: none;
}
